<div class="container col-md-8 col-md-offset-2">
  <div class="row">
    <h4 class="col-md-2 no-left-pad">
      <%= link_to admin_roles_path,  class: "btn btn-sm btn-blue pull-left" do %>
        Back
      <% end %>
    </h4>
    <h4 class="col-md-8" align="center">
      Add Role
    </h4>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for @role, url: admin_roles_path do |f| %>
          <div class="row mrs mls">
            <%= render 'form', f: f %>
          </div>
          <div class="row">
            <div class="col-md-12" align="center">
              <%= f.submit "Add Role", :class => 'btn btn-default' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
